html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #F4D1B5;
    font-family: 'Squada One', cursive;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e0b699' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

#navbar {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #e0b699;
    width: 100%;
    z-index: 1;
    font-size: large;
}
#navbar a {
    text-decoration: none;
    /* color: #474746; */
    color: #2b2b2a;
    /* color: #b; */
}
#navbar h2 {
    margin: 20px
}
#navbar h2:hover {
    cursor: pointer;
    opacity: 0.5;

}
.navbar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar-donut {
    width: 65px;
    padding: 10px;
    margin-left: 20px;
    margin-right: -20px;
    filter: drop-shadow(1px 2px 7px gainsboro)
}

.container {
    position: relative;
}
.title-screen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 110vh;
}
.title {
    font-size: 55px;
    text-align: center;
}
#title-donuts {
    display: flex;
    flex-direction: column;
}
.donut-row {
    display: flex;
    flex-wrap: nowrap;
}



.donut {
    width: 90px;
    transition: transform .7s ease-in-out;
}
.donut:hover {
    transform: rotate(360deg);
}

#arrow {
    position: relative;
    width: 30px;
    transition: 0.1s ease-in-out;
}
#arrow:hover {
    transform: translateY(10px)
}

#since1939 {
    color: black;
    margin-top: -15px;
    font-size: x-large;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paragraph {
    font-family: 'Zilla Slab', serif;
    width: 40%;
    text-align: center;
}
.section-header {
    font-size: 55px;
    color: #ff6961;
}
.menu_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.menu_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Zilla Slab', serif;
}
.donut_type {
    margin-top: 50px;
    margin-bottom: -45px;
}


